# Enable Bzlmod for every Bazel command
# This is only required by Bazel <7.0, so that it uses MODULE.bazel
# as repository root marker file.
# See also:
# - https://github.com/bazelbuild/bazel/issues/18958
# - https://bazel.build/external/migration
common --enable_bzlmod

build --verbose_failures
build --subcommands=pretty_print

# alias for build flag to enable the internal decnum library
build --flag_alias=enable_decnum=//:enable_decnum
